/* 
Author: Conrad Jamir - Front End Software Engineer
Date Modified: April 15, 2016
*/

body {
    display: none;
    /* prevent image load til ready */
}
.hide {
    display: none;
}
.stage,
#link {
    width: 300px;
    height: 250px;
    display: block;
}
.stage {
    position: relative;
    background: url('images/bg.jpg') no-repeat 0 0;
    overflow: hidden;
    border: 1px solid #000;
}
#link {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    cursor: pointer;
    z-index: 3;
}

#play,
#restart {
    position: absolute;
    width: 300px;
    height: 250px;
    cursor: pointer;
    z-index: 4;
    color: white;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#play svg,
#restart svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

img,
.kids_group,
.zone_group,
.kids_group_2,
.zone_group_2 {
    position: absolute;
}

/* group 1 */

.cloud_blur {
    /*    added blur */
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
.cloud_s {
    width: 52px;
}
.cloud_l {
    width: 66px;
}
.cloud_1 {
    top: 10px;
    left: 51px;
}
.cloud_2 {
    top: 28px;
    left: -9px;
}
.cloud_3 {
    top: 7px;
    left: 84px;
}
.cloud_4 {
    top: 39px;
    left: 280px;
}
.cloud_5 {
    top: 75px;
    left: -42px;
}
.logo,
.logo_2,
.logo_3 {
    width: 62px;
}
.logo {
    top: 82px;
    left: 31px;
}
.logo_2 {
    top: 8px;
    right: 10px;
}
.kids,
.zone {
    display: block;
    float: left;
}
.kids_group {
    top: 110px;
    left: 30px;
}
.kids.k {
    background: url('images/kids.svg') no-repeat 0 0;
    width: 35px;
    height: 38px;
}
.kids.i {
    background: url('images/kids.svg') no-repeat -35px 0;
    width: 16px;
    height: 38px;
}
.kids.d {
    background: url('images/kids.svg') no-repeat -51px 0;
    width: 32px;
    height: 38px;
}
.kids.s {
    background: url('images/kids.svg') no-repeat -83px 0;
    width: 24px;
    height: 38px;
}
.zone_group {
    top: 112px;
    left: 140px;
}
.zone.z {
    background: url('images/zone.svg') no-repeat 0 0;
    width: 30px;
    height: 36px;
}
.zone.o {
    background: url('images/zone.svg') no-repeat -30px 0;
    width: 41px;
    height: 36px;
}
.zone.n {
    background: url('images/zone.svg') no-repeat -71px 0;
    width: 37px;
    height: 36px;
}
.zone.e {
    background: url('images/zone.svg') no-repeat -108px 0;
    width: 23px;
    height: 36px;
}
.kite_div {
    position: absolute;
    top: 162px;
    left: 235px;
}
.kite {
    width: 105px;
}
.rocket {
    width: 41px;
    top: 300px;
    left: 108px;
    -webkit-transform: rotate(-7deg);
    /* Safari */
    transform: rotate(-7deg);
}

/* group 2 & 3 */

.ellos_txt {
    width: 227px;
    top: 78px;
    left: 36px;
    opacity: 1;
}
.tienen_txt {
    top: 133px;
    left: 64px;
    width: 113px;
    opacity: 1;
}
.remoto_txt {
    width: 223px;
    top: 156px;
    left: 6px;
    opacity: 1;
}
.remote {
    top: 38px;
    left: 208px;
}

/* group 4 */

.tv_shdw {
    top: 163px;
    left: 98px;
    width: 192px;
}
.tv {
    top: 40px;
    left: 91px;
    width: 204px;
}
.tv_1,
.tv_2 {
    top: 58px;
    left: 102px;
    width: 182px;
    opacity: 1;
}
.balloon {
    width: 88px;
    height: 95px;
    top: 11px;
    left: 25px;
    -webkit-transform: rotate(5.1deg);
    /* Safari */
    transform: rotate(5.1deg);
}
.wind {
    width: 69px;
    left: -29px;
    top: 57px;
}
.control_txt {
    left: 5px;
    top: 124px;
    width: 290px;
}
.ven {
    width: 269px;
    top: 191px;
    left: 13px;
}

/* group offer */

.logo_3 {
    top: 61px;
    left: 31px;
}
.cambiate_txt {
    top: 44px;
    left: 34px;
}
.kids_2,
.zone_2 {
    display: block;
    float: left;
}
.kids_group_2 {
    top: 70px;
    left: 53px;
}
.kids_2.k {
    background: url('images/kids.svg') no-repeat 0 0;
    background-size: 87px 31px;
    width: 28px;
    height: 31px;
}
.kids_2.i {
    background: url('images/kids.svg') no-repeat -28px 0;
    background-size: 87px 31px;
    width: 12px;
    height: 31px;
}
.kids_2.d {
    background: url('images/kids.svg') no-repeat -40px 0;
    background-size: 87px 31px;
    width: 27px;
    height: 31px;
}
.kids_2.s {
    background: url('images/kids.svg') no-repeat -67px 0;
    background-size: 87px 31px;
    width: 20px;
    height: 31px;
}
.zone_group_2 {
    top: 71px;
    left: 142px;
}
.zone_2.z {
    background: url('images/zone.svg') no-repeat 0 0;
    background-size: 106px 29px;
    width: 23px;
    height: 36px;
}
.zone_2.o {
    background: url('images/zone.svg') no-repeat -23px 0;
    background-size: 106px 29px;
    width: 31px;
    height: 36px;
}
.zone_2.n {
    background: url('images/zone.svg') no-repeat -54px 0;
    background-size: 106px 29px;
    width: 30px;
    height: 36px;
}
.zone_2.e {
    background: url('images/zone.svg') no-repeat -84px 0;
    background-size: 106px 29px;
    width: 22px;
    height: 36px;
}
.offer_txt {
    top: 115px;
    left: 18px;
}
.descubre_txt {
    width: 135px;
    top: 145px;
    left: 150px;
}
.cta {
    position: absolute;
    width: 120px;
    height: 20px;
    background: #2ea0dd;
    top: 220px;
    left: 169px
}
.cta_txt {
    top: 5px;
    left: 11px;
}
.kite_div_2 {
    position: absolute;
    top: 69px;
    left: 250px;
}
.kite_2 {
    width: 87px;
}
.robot {
    width: 27px;
    top: 215px;
    left: 9px;
}
