/* 
Author: Conrad Jamir - Front End Software Engineer
Date Modified: January 24, 2019
*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #000;
}
body {
    margin: 0 auto;
    background: #000;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    position: absolute;
    width: 100%;
}
.hidden {
    display: none;
}
.stage,
#click_tag {
    width: 728px;
    height: 90px;
    top: 50%;   
    left: 50%;  
    transform: translate(-50%, -50%);
    display: block;
}
.stage {
    position: absolute;
    overflow: hidden;
    border: 1px solid #d4d4d4;
    display: none;
    /* prevent image load til ready */
}
#click_tag {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    cursor: pointer;
    z-index: 3;
}

#play,
#restart {
    position: absolute;
    width: 728px;
    height: 90px;
    cursor: pointer;
    z-index: 1001;
    color: white;
    display: none;
    top: 50%;   
    left: 50%;  
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
}

#play svg,
#restart svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

#collapsed, #expanded {
    width: 100%;
}
#expanded {
    width: 728px;
    height: 90px;
    overflow: hidden;
}
#expandBtn {
    position: absolute;
    width: 111px;
    height: 25px;
    top: 30px;
    left: 500px;
    cursor: pointer;
    z-index: 4;
}

#closeBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 4;
}
#player {
    position: absolute;
    width: 728px;
    height: 500px;
}
#ctaLeftBurst, #ctaRightBurst {
    position:absolute;
    top: 26px;
    width: 24px;
    height: 33px;
}
#ctaLeftBurst {
    left: 469px; 
}
#ctaRightBurst {
    left: 616px; 
}
#efCta {
    position: absolute;
    top: 415px;
    left: 287px;
    width: 156px;
    height: 36px;
}
#efCtaLeftBurst, #efCtaRightBurst {
    position:absolute;
    top: 410px;
    width: 34px;
    height: 45px;
}
#efCtaLeftBurst {
    left: 243px; 
}
#efCtaRightBurst {
    left: 451px; 
}
.shadow {
    -webkit-filter: drop-shadow(1px 1px 2px rgba(34, 34, 34, 0.3));
    filter: drop-shadow(1px 1px 2px rgba(34, 34, 34, 0.3));
}